<!DOCTYPE html>
<html class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="/css/style.css">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Moment of silence</title>

  <!--script src="/lib/socket.io.slim.js"></script-->

  <script src="/lib/jquery-3.2.1.min.js"></script>
  <script src="/lib/velocity.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
    window.IS_CLIENT = true;
    window.IS_SERVER = false;
  </script>
  </head>

  <body dir="rtl">
    <script src="/bundle.js"></script>
    <section id="siren-wait" style="display:none;">
        <section id="welcome">
            <p>
                לרגל שנות ה-70 למדינת ישראל, גלישה חופשית ברשת האינטרנט תתאפשר בתום דקת דומיה.
            </p>
            <p>
                דקת הדומייה תיתכן רק ברעות, בנוכחות סולידרית של שניים ומעלה, תוך אחיזה רגישה של מכשיר הטלפון. אנא וודא/י שהסאונד במכשיר דולק.
            </p>
        </section>
        <section id="number-connected">
            <p>
                <span id="connected-message">מספר העומדים: </span>
                <span id="connected-value"></span>
            <p>
        </section>
        <section id="siren-countdown">
            <p>
                <span id="siren-message">הצפירה תתחיל בעוד </span>
                <span id="countdown-value"></span>
                <span id="siren-message-trail"> שניות</span>
            <p>
        </section>
    </section>
    <section id="siren-container" style="display:block;">
        <section id="siren-press" style="display:none;">
                <div id="siren-title">
                    דקת דומיה
                </div>
                <div id="siren-instructions">
                    <p>
                        הנח/י את אגודלך במקום המיועד לכך, למשך דקה. בעוד מספר רגעים תשמע צפירה.
                    </p>
                </div>
        </section>
        <section id="siren-anim">
            <span id="siren-count">60</span>
            <svg id="6ac09f24-827a-401d-9064-932b16671ecc" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.58 324"><defs>
                <style>
                        .yes{fill:none;stroke:#0025ff;stroke-width:8px;}
                        .no{fill:none;stroke:#0a0a0a;stroke-width:8px;}
                </style></defs><title>Artboard 3</title>
                <clipPath id="sirenClip">
                    <path class="c0f02b83-9fd1-4a5c-a016-c9bb4f837c0e" d="M145.42,82V304H86.91V109H72.81V64h56.11C140.32,64,145.42,70,145.42,82Z"/>
                    <path class="c0f02b83-9fd1-4a5c-a016-c9bb4f837c0e" d="M327.55,182.79c0,42.61-21,61.21-69,61.21H185.33V199h52.21c19.8,0,28.5-9.3,28.5-31.2V109H185.33V64H327.55Z"/>
                </clipPath>
                <path class="no" d="M138.92,244,91.21,166.59c-6-9.6-8.4-14.41-15-14.41S69,158.49,69,168.69v32.7h24.3V244H15V162.69c0-23.11,8.1-36.91,24.91-43.21a70.81,70.81,0,0,1,17.4-3.9L21.9,64h60l48,77.41c6,9.6,8.4,14.4,15,14.4,6.9,0,7.2-6.3,7.2-16.5v-32.7h-24.3V64h78.31v81.31c0,23.11-8.1,36.91-24.9,43.21a59.36,59.36,0,0,1-17.4,3.9L199.23,244Z"/>
                <path class="no" d="M314.75,109H235.54V34h55.81V64h84.31v45L317.45,244H256.54Z"/>
                <path class="yes" d="M145.42,82V304H86.91V109H72.81V64h56.11C140.32,64,145.42,70,145.42,82Z"/>
                <path class="yes" d="M327.55,182.79c0,42.61-21,61.21-69,61.21H185.33V199h52.21c19.8,0,28.5-9.3,28.5-31.2V109H185.33V64H327.55Z"/>
                <rect id="fillRect" y="300" width="100%" height="0" style="fill:rgb(0,0,255)" clip-path="url(#sirenClip)"/>
            </svg>
        </section>
        <section id="siren-thumbs">
            <div class="thumb-button" data-thumb="right">
                אגודל
            </div>
            <div class="thumb-button" data-thumb="left">
                אגודל
            </div>
        </div>
    </section>
  </body>
</html>
